<p id="notice"><%= notice %></p>

<p>
  <b>Truck:</b>
  <%= @location.truck_id %>
</p>

<p>
  <b>Latitude:</b>
  <%= @location.latitude %>
</p>

<p>
  <b>Longitude:</b>
  <%= @location.longitude %>
</p>

<p>
  <b>Created at:</b>
  <%= @location.created_at %>
</p>

<p>
  <b>Updated at:</b>
  <%= @location.updated_at %>
</p>

<p>
  <b>Message:</b>
  <%= @location.message %>
</p>


<%= link_to 'Edit', edit_location_path(@location) %> |
<%= link_to 'Back', locations_path %>
